* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  margin: auto 2.4rem;
}

.border {
  border-bottom: 1px solid #dfe1e6;
}

body {
  font-family: "Poppins", sans-serif;
}

/* NAVBAR */
.navbar {
  padding: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #fbfbfb;
}

.nav-list {
  display: none;
}

.nav-logo {
  color: #6070ff;
  font-size: 1.8rem;
  font-weight: 700;
  text-decoration: none;
}

.nav-btn {
  color: #6070ff;
}

/* HEADLINE  */
.headline {
  background-image: url('.image/Header.background.png.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 9rem;
  padding-bottom: 0rem;
  margin-bottom: 12.8rem;
}

.headline-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0rem;
  padding-bottom: 2rem;
}

.primary-header {
  color: #172b4d;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5.2rem;
  margin-top: 20rem;
}

.primary-headre span {
  display: block;
}

.headline-description {
  color: #344563;
  font-size: 1.6rem;
  line-height: 2.4rem;
  padding-bottom: 1rem;
}

.social-media {
  margin-bottom: 3.4rem;
}

.social-header {
  color: #7f8cff;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.social-icons {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}

/* WORKS */
.works {
  background-color: #f7f7f7;
  padding: 12.8rem 0 2.8rem 0;
  padding-bottom: 12.8rem;
  margin-bottom: 12.8rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 12.8rem;
}

.projects {
  background-color: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 1.6rem;
  padding: 1.6rem;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.project-img {
  border-radius: 0.8rem;
  width: 100%;
}

.project-detail {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.tertiary-heading {
  color: #172b4d;
  font-size: 3.2rem;
  font-weight: 700;
  margin-right: 1rem;
}

.project-details {
  color: #7a869a;
  font-size: 1.3rem;
  display: flex;
  gap: 3.2rem;
}

.project-description {
  color: #344563;
  font-size: 1.5rem;
  line-height: 2.4rem;
  padding-right: 10%;
}

.project-lang {
  display: flex;
  gap: 0.8rem;
  margin-bottom: 1rem;
}

.project-lang li {
  background: #ebebff;
  color: #6070ff;
  font-size: 1.2rem;
  border-radius: 8px;
  padding: 0.4rem 1.2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.languages-elements li {
  list-style-type: none;
  background-color: #f7f7f9;
  padding: 1rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.project-details li:first-child {
  list-style: none;
  color: #344563;
  font-weight: 600;
}

.btn {
  background: transparent;
  color: #396df2;
  font-size: 1.7rem;
  border: 1px solid #6070ff;
  border-radius: 0.8rem;
  padding: 1.2rem 1.6rem;
  align-self: flex-start;
  font-weight: 500;
  transition: 0.3s;
}

.btn:hover {
  background-color: #6070ff;
  color: #fff;
  cursor: pointer;
}

.btn:active {
  background-color: #2230d2;
}

.btn:disabled {
  color: #5e6c84;
  border: 1px solid #e5e5e5;
}

/* ABOUT ME */
.about {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 4.8rem;
  background-color: #fff;
}

.secondary-header {
  color: #172b4d;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.skillset {
  list-style: none;
  margin-bottom: 12.8rem;
}

.skillset-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.2rem;
}

.skillset-heading {
  font-size: 2rem;
  font-weight: 500;
  width: 100%;
  padding-bottom: 2rem;
}

.down-sign {
  color: #acb7c3;
  width: 2.4rem;
  height: 2.4rem;
  margin-right: 1.8rem;
}

.languages-elements {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.frontend-logo {
  width: 4.8rem;
  height: 4.8rem;
  list-style: none;
}

.js-logo {
  border-radius: 5rem;
}

.languages-elements li p {
  color: #253858;
  font-size: 1.5rem;
  font-weight: 500;
}

/* CONTACT-SECTOIN  */
.contact {
  background-color: #6070ff;
  border-top-left-radius: 6.4rem;
  padding: 12rem 0 4.8rem 0;
  background-image: url('./images/contact-form-bg.png');
  background-repeat: no-repeat;
  background-size: auto 88%;
  background-position: right;
}

.contact-container {
  padding: auto 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 5.2rem;
}

.contact-title {
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.2rem;
}

.contact-detail {
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.contact-input {
  width: 32.7rem;
  height: 4.8rem;
  border: none;
  border-radius: 0.8rem;
  padding: 1.5rem 3.8rem 1.5rem 1.6rem;
}

.contact-input,
.contact-input::placeholder {
  color: #172b4d;
  font-size: 1.7rem;
}

.contact-message {
  width: 32.7rem;
  height: 17.5rem;
  color: #172b4d;
  font-size: 1.5rem;
  border-radius: 0.8rem;
  padding: 1.5rem 3.8rem 1.5rem 1.6rem;
}

.contact-message::placeholder {
  color: #b3bac5;
  font-size: 1.5rem;
}

.contact-input:focus,
.contact-message:focus {
  outline-color: #396df2;
}

.contact-btn {
  color: #6070ff;
  background-color: #fff;
  font-size: 1.7rem;
  font-weight: 500;
  padding: 1.2rem 1.6rem;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.contact-btn:hover,
.contact-btn:active {
  background-color: #5a69f1;
  color: #fff;
  transition: 0.3s;
}

@media screen and (min-width: 768px) {
  .container {
    margin: auto 10%;
  }

  /* NAVBAR SECTION  */
  .navbar {
    padding: 3.2rem 8.8rem;
  }

  .nav-btn {
    display: none;
  }

  .nav-list {
    list-style: none;
    display: flex;
    gap: 3.2rem;
  }

  .nav-list a:link,
  .nav-list a:visited {
    text-decoration: none;
    color: #344563;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .nav-list a:hover,
  .nav-list a:active {
    border-bottom: 0.3rem solid #6070ff;
  }

  /* HEADLINE PART */
  .headline {
    background: url('.image/Header.background.png.png');
    background-size: 100% 100%;
    background-position: 100% 100%;
    width: 100%;
    border-radius: 0;
    padding: 200px 130px;
    gap: 1.5rem;
  }

  .primary-header {
    margin-top: 30%;
  }

  /* PROJECT PART */

  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4.8rem;
    padding: 2.8rem;
  }

  .project-img {
    align-self: center;
  }

  .projects:nth-child(even) > .project-img {
    order: 2;
  }

  .btn {
    justify-self: left;
  }

  /* ABOUT PART  */
  .languages-elements {
    flex-direction: row;
  }

  .languages-elements li {
    flex-direction: column;
    align-items: flex-start;
    width: 12rem;
    gap: 1.8rem;
  }

  /* ABOUT PART  */
  .about {
    grid-template-columns: 4fr 6fr;
  }

  .about-container {
    margin-bottom: 12.8rem;
  }

  .skillset {
    margin-top: -2rem;
  }

  /* CONTACT PART */
  .contact {
    background-image: url('./images/contact-form-bg.png');
  }

  .contact-desc {
    margin: auto 25%;
  }

  .contact-input,
  .contact-message {
    width: 44.7rem;
    border-radius: 0.2rem;
  }
}
